logFinderInterface/src/main/resources/SearchLogSOAPService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://soap.web_services.services.logFinder.ohapegor.ru/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://soap.web_services.services.logFinder.ohapegor.ru/" name="SearchLogSOAPService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://soap.web_services.services.logFinder.ohapegor.ru/"
                        schemaLocation="SearchLogSOAPServiceSchema.xml"/>
        </xsd:schema>
    </types>
    <message name="fileSearch">
        <part name="parameters" element="tns:fileSearch"/>
    </message>
    <message name="fileSearchResponse">
        <part name="parameters" element="tns:fileSearchResponse"/>
    </message>
    <message name="logSearch">
        <part name="parameters" element="tns:logSearch"/>
    </message>
    <message name="logSearchResponse">
        <part name="parameters" element="tns:logSearchResponse"/>
    </message>
    <message name="fileGenerate">
        <part name="parameters" element="tns:fileGenerate"/>
    </message>
    <message name="fileGenerateResponse">
        <part name="parameters" element="tns:fileGenerateResponse"/>
    </message>
    <portType name="SearchLogSOAP">
        <operation name="fileSearch">
            <input wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/fileSearchRequest"
                   message="tns:fileSearch"/>
            <output wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/fileSearchResponse"
                    message="tns:fileSearchResponse"/>
        </operation>
        <operation name="logSearch">
            <input wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/logSearchRequest"
                   message="tns:logSearch"/>
            <output wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/logSearchResponse"
                    message="tns:logSearchResponse"/>
        </operation>
        <operation name="fileGenerate">
            <input wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/fileGenerateRequest"
                   message="tns:fileGenerate"/>
            <output wsam:Action="http://soap.web_services.services.logFinder.ohapegor.ru/SearchLogSOAP/fileGenerateResponse"
                    message="tns:fileGenerateResponse"/>
        </operation>
    </portType>
    <binding name="SearchLogSOAPPortBinding" type="tns:SearchLogSOAP">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="fileSearch">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="logSearch">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="fileGenerate">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SearchLogSOAPService">
        <port name="SearchLogSOAPPort" binding="tns:SearchLogSOAPPortBinding">
            <soap:address location="http://localhost:7003/logFinder/SearchLogSOAPService"/>
        </port>
    </service>
</definitions>