logFinderApp/src/main/resources/SearchLogSOAPServiceSchema.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:ls="http://ohapegor.ru/logFinder/services/webServices/soap/schemas"
           targetNamespace="http://ohapegor.ru/logFinder/services/webServices/soap/schemas"
           elementFormDefault="qualified">
    <xs:complexType name="logSearchRequest">
        <xs:sequence>
            <xs:element name="searchInfo" type="ls:searchInfo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="logSearchResponse">
        <xs:sequence>
            <xs:element name="searchInfoResult" type="ls:searchInfoResult" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="searchInfo">
        <xs:sequence>
            <xs:element name="date-intervals" type="ls:significantDateInterval" minOccurs="1" maxOccurs="unbounded"/>
            <xs:element name="fileExtension" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="xs:string" minOccurs="0"/>
            <xs:element name="realization" type="xs:boolean"/>
            <xs:element name="regexp" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="significantDateInterval">
        <xs:sequence>
            <xs:element name="dateFrom" type="xs:dateTime" minOccurs="0"/>
            <xs:element name="dateTo" type="xs:dateTime" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="searchInfoResult">
        <xs:sequence>
            <xs:element name="empty-result-message" type="xs:string" minOccurs="0"/>
            <xs:element name="error-code" type="xs:long"/>
            <xs:element name="error-message" type="xs:string" minOccurs="0"/>
            <xs:element name="file-location" type="xs:string" minOccurs="0"/>
            <xs:element name="result-logs" type="ls:resultLogs" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="search-info" type="ls:searchInfo" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="resultLogs">
        <xs:all>
            <xs:element name="content" type="xs:string"/>
            <xs:element name="fileName" type="xs:string"/>
            <xs:element name="timeMoment" type="xs:dateTime"/>
        </xs:all>
    </xs:complexType>
    <xs:element name="logSearchRequest" type="ls:logSearchRequest"/>
    <xs:element name="logSearchResponse" type="ls:logSearchResponse"/>
    <xs:element name="search-info" type="ls:searchInfo"/>
    <xs:element name="significant-date-interval" type="ls:significantDateInterval"/>
    <xs:element name="search-info-result" type="ls:searchInfoResult"/>
    <xs:element name="result-logs" type="ls:resultLogs"/>
</xs:schema>